/* =========== FONT =========== */
@font-face {
  font-family: "orbitron";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Orbitron-Regular.ttf") format("truetype");
}

/* =========== GLOBAL STYLES =========== */
body,
header,
ul,
li,
a,
h1,
h2 {
  list-style: none;
  margin: 0;
  border: none;
  padding: 0;
  text-decoration: none;
}

:root {
  /* site colours */
  --c-primary: 51, 51, 51; /* #333333 */
  --c-secondary: 255, 241, 223; /* #fff1df */
  --c-accent: 9, 127, 67; /* #097f43 */
  --c-white: 255, 255, 255; /* #ffffff */
  /* game colours */
  --c-player: 44, 40, 40; /* #2c2828 */
  --c-player-dead: 176, 17, 17; /* #b01111 */
  --c-player-won: 222, 249, 206; /* #def9ce */
  --c-lava: 255, 100, 100; /* #ff6464 */
  --c-enemy: 128, 0, 128; /* #800080 */
  --c-coin: 241, 229, 89; /* #f1e559 */
  --c-walls: 245, 245, 245; /* #f5f5f5 */
  --c-bg: 52, 166, 251; /* #34a6fb */
}

a:link {
  color: rgb(var(--c-primary));
}

a:visited {
  color: rgb(var(--c-primary));
}

a:hover {
  color: rgb(var(--c-accent));
}

a:active {
  color: var(--white);
}

.page-container {
  background: rgb(var(--c-secondary));
  color: rgb(var(--c-primary));
  display: flex;
  flex-flow: column nowrap;
  font-family: "orbitron";
  height: 100vh;
}


/* =========== DRY pricipal =========== */
.text-center {
  text-align: center;
}

.standout-words {
  font-weight: 700;
}

.hr-rule{
  margin-top: 64px;
}


/* =========== HEADER =========== */
header {
  align-items: center;
  display: flex;
  height: 12%;
}

.site-title {
  color: rgb(var(--c-accent));
  flex-grow: 2;
}

.main-menu {
  flex-grow: 1;
}

.main-menu ul li button {
  position: relative;
  border: none;
  padding: .6rem;
  background: none;
  font-size: .9em;
  z-index: 40;
}
.main-menu ul li button::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgb(var(--c-accent));
  opacity: 0;
  transition: opacity .32s;
  z-index: -1;
}
.main-menu ul li button:hover {
  cursor: pointer;
}
.main-menu ul li button:hover::before {
  opacity: .6;
}


/* =========== BODY =========== */
main {
  background: rgb(var(--c-primary));
  height: 80%;
}

.game-wrapper {
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  height: calc(100% - 16px);
  justify-content: center;
  padding: 8px;
}


/* =========== FOOTER =========== */

footer {
  font-size: .8em;
  height: 8%;
}


/* =========== PLAY BUTTON =========== */
.start-btn-holder {
  position: absolute;
  height: 60px;
  width: 160px;
  transform: scale(0);
  transition: transform .24s;
}

.start-btn-holder button {
  background: rgb(var(--c-accent));
  border: 1px solid rgb(var(--c-white));
  border-radius: 4px;
  padding: 10px 0;
  height: 100%;
  width: 100%;
  color: rgb(var(--c-white));
  font: 600 1.8em orbitron;
  letter-spacing: 2px;
  box-shadow: 0 0 8px 0 rgba(var(--c-white), 0.2), 0 0 16px 0 rgba(var(--c-white), 0.4);
  text-shadow: 1px 1px rgb(var(--c-primary));
}

.start-btn-holder button:hover {
  outline: 1px solid rgb(var(--c-white));
}

.start-btn-holder button:active {
  background: rgba(var(--c-accent), 0.6);
}

.start-btn-holder.active {
  transform: scale(1);
}


/* =========== GAME =========== */
.background{
  background: rgb(var(--c-bg));
  border-spacing: 0;
  table-layout: fixed;
}

.background td {
  padding: 0;
}

.lava{
  background: rgb(var(--c-lava));
}

.enemy {
  background: rgb(var(--c-enemy));
}

.wall {
  background: rgb(var(--c-walls));
}

.actor {
  position: absolute;
}

.coin {
  background: rgb(var(--c-coin));
}

.player {
  background: rgb(var(--c-player));
}

/*Win or Loose*/
.lost .player {
  background: rgb(var(--c-player-dead));
}

.won .player {
  box-shadow: -4px -7px 8px rgb(var(--c-player-won)), 4px -7px 8px rgb(var(--c-player-won));
}

.game {
  height: auto;
  max-height: 438px;
  max-width: 632px;
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 444;
}


/* ===========HOW TO PLAY MODAL =========== */
.ht-modal {
  background: none;
  border: none;
  padding: 0;

}
.ht-modal::backdrop {
  background-color: rgba(var(--c-accent),.6);
}

.ht-modal-content {
  background-color: rgb(var(--c-secondary));
  border: 1px solid rgb(var(--c-primary));
  margin: 12% auto;
  max-width: 572px;
  padding: 20px 10px;
  position: relative;
  width: 88%;
  box-shadow: 0 0 16px rgba(var(--c-primary),.5);
}

.close-modal-btn {
  position: absolute;
  top: 8px;
  right: 12px;
  background: none;
  border: none;
  font-size: 28px;
  font-weight: bold;
}

.close-modal-btn:hover,
.th-close-modal:focus {
  color: rgb(var(--c-primary));
  text-decoration: none;
  cursor: pointer;
}

.ht-modal-body {
  letter-spacing: 1px;
  padding-top: 16px;
}

.ht-modal-body p {
  margin: 28px 0;
}

.howto-legend {
  display: inline-block;
  height: 20px;
  margin-right: 8px;
  width: 20px;
}


/* =========== MEDIA QUERIES =========== */
@media (min-width: 600px) {
  .main-menu ul li button {
    font-size: 1em;
  }
}

@media (min-width: 900px) {
  .ht-modal-content {
    margin: 10% auto;
  }
}

@media (min-width: 1200px) {
  .ht-modal-content {
    margin: 6% auto;
  }
}
